$Purple:    #A174DB;
$Green: #49BE55;
$White: #FFFFFF;
$Gray1: #CCCCCC;
$Gray2: #C2C2C2;
$_666: #666666;
$_777: #777777;
$_222: #222222;
$_ccc: #ccc;
$txt_color: #a1a8b8;
$txt_background-color: #363c48;
$txt_border: 1px solid #3b414e;